.start-game-manager {
  display: flex;
  flex-direction: column;
  align-items: center;

  .button {
    width: 300px;
    height: 100px;
    z-index: 2;
    position: relative;
  }

  .code-display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    position: relative;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    background-color: whitesmoke;
    box-shadow: inset 0px 0px 0px 5px lighten(black, 20%);
    z-index: 2;

    * {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .url-display {
    width: 300px;
    margin-top: 60px;
    background-color: darken(whitesmoke, 5%);
    padding: 5px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid lighten(black, 40%);
    border-top: none;
    position: absolute;
    opacity: 0;
    transition: margin-top 0.5s ease;
    z-index: 1;

    &.display {
      margin-top: 100px;
      opacity: 1;
    }
  }

  .error-message {
    position: absolute;
    margin-top: 25px;
    opacity: 0;
    z-index: 1;

    &.display {
      transition: margin-top 0.5s ease;
      margin-top: 135px;
      opacity: 1
    }
  }
}
