.start-container {
  align-items: center;
  padding: 30px;

  .game-title {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
  }

  .player-container {
    margin-top: 50px;
    text-align: center;

    h2 {
      text-decoration: underline;
    }

    .player {
      font-size: 20px;
    }
  }

  .begin-button-container {
    display: flex;
    justify-content: center;

    .button {
      position: absolute;
      bottom: 0;
      margin-bottom: 30px;
      font-size: 25px;
    }
  }
}
